<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="phone-frame">
        <div class="app-logo-container">

            <img src="{{ url_for('static', filename='logo.png') }}" class="main-logo">
        </div>

        {% block content %}

        {% endblock %}
    </div>
</body>
</html>